*.DS_Store
*.o
*.env
*.json
*.log
*.slxc
*.asv
*.internal
*.make
*.slx.autosave

slprj/
CMakeFiles/
.cmake/

"HDT/HDT_ONCON_Paper/MATLAB/C://Users//Dave//Documents//git//Simulations//PLECS//HDT//MAT_Resonant.mat"

"HDT/HDT_ONCON_Paper/MATLAB/C://Users//Dave//Documents//git//Simulations//PLECS//HDT//MAT_Variables.mat"
